@model IEnumerable<final_assignment.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary"})
</p>

<p>
    @Html.ActionLink("show managers", "manager",null, new { @class = "btn btn-warning" })
</p>
   
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.managerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.managerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employeeId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
